
 ul {
               list-style-type: none;
               margin: 0;
               padding: 0;
               overflow: hidden;
               border: 1px solid #e7e7e7;
               background-color: #f3f3f3;
               font-family: Georgia, serif;
               }
               
               li {
               float: left;
               }
               
               li a {
               display: block;
               color: #666;
               text-align: center;
               padding: 14px 16px;
               text-decoration: none;
               }
               
               li a:hover:not(.active) {
               background-color: #E98074;
               }
               
               li a.active {
               color: white;
               background-color: Grey;
               }
               body {
               font-family: Verdana, sans-serif;
               font-size: 16px;
               background-color: #EAE7DC;
               }
               h1 {
               color: #E85A4F;
               font-family: Georgia, serif;
               font-size: 46px;
               }
               h2{
               font-family: Georgia, serif;
               }
               table {
               border-collapse: collapse;
               width: 80%;
               }
               td, th {
               border: 1px solid;
               text-align: left;
               padding: 10px;
               }
               tr:nth-child(even) {
               background-color: #D8C3A5;
               }
               
               a:link {
               color: #E85A4F;
               background-color: transparent;
               text-decoration: none;
               } 

               a:hover {
               color: black;
               background-color: transparent;
               text-decoration: underline;
               }

               a:active {
               color: #E98074;
               background-color: transparent;
               text-decoration: underline;
               }
