@font-face{
    font-family: Leander;
    src: url(/homework/hw2/Leander.ttf);
}

* {
    display:block;
    background-color: cornsilk;
    text-transform: uppercase;
    font-family: Leander;
}

lb {
    line-height: 20px;
}

[rendition~="#red"] {
    color: red;    
}

[rendition~="#center"] {
    text-align: center;
}

[rendition~="#small"] {
    font-size: 100%;
}

[rendition~="#large"] {
    font-size: 125%;
}

[rendition~="#x-large"] {
    font-size: 175%;
}

[rendition~="#xx-large"] {
    font-size: 225%;
}

docDate:after {
      	content: attr(when);
      	color: black;
      	position: relative;
      }
      expan {
      	color: transparent;
      	position: relative;
         }

space[quantity="1"] {padding:10px;}
space[quantity="3"] {padding:30px;}
space[quantity="4"] {padding:40px;}
space[quantity="5"] {padding:50px;}
